<launch>
    <include file="$(find openni2_launch)/launch/openni2.launch" />
    <node pkg="assign2" type="block_detector.py" name="block_detector"
    	args="image:=/working_area" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find assign2)/vision.rviz" />
  	<node name="throttle" pkg="topic_tools" type="throttle" args="messages /camera/rgb/image_rect_color 1 /image" />
  	<node name="working_area" pkg="assign2" type="working_area_extraction.py" />
</launch>

